<navtmpl></navtmpl>

<editphotostmpl data-ng-show="photosId != undefined"></editphotostmpl>

<section class="row section" data-ng-show="photosId == undefined">                   
    <div class="container">                   
        <div class="clearfix block-title">
              <div class="col-sm-10 item-col">
                 <div class="title small">
                     This is list of photos this Album
                     <b>({{albumTitle}})</b>
                 </div>                  
              </div>
              <div class="col-sm-2 item-col">
                  <button class="btn btn-primary btn-add">Add</button>           
              </div>             
        </div>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>#</th>                    
                    <td>
                        <div class="sortorder" ng-click="sorting('title')" ng-class="{reverse:reverse}">
                            <span ng-show="sort === 'title'"></span>
                            title
                        </div>
                    </td>
                    <td>                        
                        url                        
                    </td>
                    <td>
                        thumbnailUrl
                    </td>
                    <td>operations</td>
                </tr>
                <tr>
                    <th></th>      
                    <td>
                        <input type="text" ng-model="titleFilter" class="text-empty filter" placeholder="search title">
                    </td>          
                    <td colspan="2"></td>                                                                    
                    <td>Filter</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in photos | filter: titleFilter | orderBy:sort:reverse track by $index" ng-hide="hide">
                    <th>{{$index+1}}</th>                                        
                    <td>{{item.title}}</td>
                    <td>{{item.url}}</td>
                    <td><img src="{{item.thumbnailUrl}}" alt=""></td>
                    <td>
                        <a href="{{link+item.id}}" class="btn-default inline underline">edit</a>
                        <a href="javascript:void(0)" class="btn-default inline underline" ng-click="remove(item.id)">remove</a>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>            
</section> 