<section class="row">
    <div class="container">
        
       <div class="message successful" ng-show="message==null ? false : true">{{message}}</div>
                        
        <div class="entity">                                                        
            <form name="album" ng-submit="save(album)">
                <input type="hidden" ng-model="albums.userId" name="albums.userId">               
                <input type="hidden" ng-model="albums.id" name="albums.id">               
                
                <div class="clearfix"> 
                    <span class="title small">Edit album</span>

                    <div class="row">
                        <div class="col-sm-3 item-col">title</div>
                        <div class="col-sm-9 item-col"><input type="text" class="text-empty" name="albums.title" ng-model="albums.title" placeholder="Input a title"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3 item-col"></div>
                        <div class="col-sm-9 block-btn"><input type="submit" class="btn btn-primary" value="Save"></div>
                    </div>
                </div>
            </form>
        
            <div class="block-btn"><a href="{{linkToBack}}" class="btn btn-default">Back</a></div>        
        </div>
    </div>
</section>