
<div class="authorization" data-ng-controller="adminUserCtrl">
   <form ng-submit="logIn(username, password)">
        <ul>
            <li><input type="text" class="text-empty" ng-model="username" name="username" required placeholder="Введіть ім'я"></li>
            <li><input type="password" class="text-empty" ng-model="password" name="password" required placeholder="Введіть пароль"></li>
            <li><input type="submit" class="btn btn-primary" value="Вхід"></li>
        </ul>
    </form>        
    
    <div class="successfully">
        <p>Добрий день {{user.name}}</p>    
        <a href="" ng-click="logout">Вийти</a>
    </div>
    
</div>