<navtmpl></navtmpl>

<section class="row section" data-ng-show="users != undefined">            
       <h2 class="title">Users</h2>
        <div class="container">                   
             <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <td>firstName</td>
                        <td>username</td>
                        <td>website</td>
                        <td>email</td>
                        <td>phone 1</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in users">
                        <th>{{$index+1}}</th>
                        <td>{{item.name}}</td>
                        <td>{{item.username}}</td>
                        <td>{{item.website}}</td>
                        <td>{{item.email}}</td>
                        <td>{{item.phone}}</td>
                    </tr>
                </tbody>
            </table>
        </div>            
</section> 


<section class="row section" data-ng-show="albums != undefined">            
       <h2 class="title">Albums</h2>
        <div class="container">                   
             <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <td>title</td>
                        <td>userId</td>                        
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="item in albums">
                        <th>{{$index+1}}</th>
                        <td>{{item.title}}</td>
                        <td>{{item.userId}}</td>
                </tbody>
            </table>
        </div>            
</section> 




<section class="row section" data-ng-show="comments != undefined">            
       <h2 class="title">Comments</h2>
        <div class="container">                   
             <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <td>name</td>
                        <td>email</td>                        
                        <td>body</td>                        
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="item in comments">
                        <th>{{$index+1}}</th>
                        <td>{{item.name}}</td>
                        <td>{{item.email}}</td>
                        <td>{{item.body}}</td>
                </tbody>
            </table>
        </div>            
</section> 
