 <header class="row">
    <div class="container">

        <nav class="navbar">
           <div class="container">
                <div class="clearfix top-line">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                          <span class="sr-only">Toggle navigation</span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                        </button>
                  </div>
                  <div id="navbar" class="navbar-collapse collapse">
                      <ul class="nav navbar-nav">
                            <li data-ng-repeat="item in model.tables">
                                <a href="{{item}}" ng-click="setItem(item)">{{item}}</a>
                            </li>                
                            <li class="pull-right operations">
                                <button class="btn btn-primary">Add</button>
                            </li>
                      </ul>                                                   
                  </div>                                                        
                </div>                                               
           </div>                   
       </nav>


</div>
</header>