<section class="row">
    <div class="container">
        
       <div class="message successful" ng-show="message==null ? false : true">{{message}}</div>
                        
        <div class="entity">                                                        
            <form name="post" ng-submit="save(post)">                
                <input type="hidden" ng-model="post.id" name="post.id">               
                <input type="hidden" ng-model="post.post" name="post.post">               
                
                <div class="clearfix"> 
                    <span class="title small">Edit a post</span>
<!--
                    <div class="row">
                        <div class="col-sm-3 item-col">Album</div>
                        <div class="col-sm-9 item-col">
                            <select name="album" ng-model="photos.album" id=""></select>
                        </div>
                    </div>                    
-->
                    <div class="row">
                        <div class="col-sm-3 item-col">title</div>
                        <div class="col-sm-9 item-col"><input type="text" class="text-empty" name="post.title" ng-model="post.title" placeholder="Input a title"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3 item-col">body</div>
                        <div class="col-sm-9 item-col"><input type="text" class="text-empty" name="post.body" ng-model="post.body" placeholder="Input an url"></div>
                    </div>                    
                    <div class="row">
                        <div class="col-sm-3 item-col"></div>
                        <div class="col-sm-9 block-btn"><input type="submit" class="btn btn-primary" value="Save"></div>
                    </div>
                </div>
            </form>
        
            <div class="block-btn"><a href="{{linkToBack}}" class="btn btn-default">Back</a></div>        
        </div>
    </div>
</section>