@font-face {
    font-family: MuseoSansBold;
	src: url("../fonts/MuseoSansBoldCyrl-700.eot");
	src: url("../fonts/MuseoSansBoldCyrl-700.svg") format('svg'),
		url("../fonts/MuseoSansBoldCyrl-700.ttf") format('truetype'),		
		url("../fonts/MuseoSansBoldCyrl-700.otf") format("opentype"),
		url("../fonts/MuseoSansBoldCyrl-700.woff") format("woff");
   }

@font-face {
    font-family: MuseoSansMedium;
	src: url("../fonts/MuseoSans-ediumCyrl-500.eot");
	src: url("../fonts/MuseoSans-ediumCyrl-500.svg") format('svg'),
		url("../fonts/MuseoSans-ediumCyrl-500.ttf") format('truetype'),		
		url("../fonts/MuseoSans-ediumCyrl-500.otf") format("opentype"),
		url("../fonts/MuseoSans-ediumCyrl-500.woff") format("woff");
   }

@font-face {
    font-family: MuseoSansRegular;
	src: url("../fonts/MuseoSansRegularCyrl-300.eot");
	src: url("../fonts/MuseoSansRegularCyrl-300.svg") format('svg'),
		url("../fonts/MuseoSansRegularCyrl-300.ttf") format('truetype'),		
		url("../fonts/MuseoSansRegularCyrl-300.otf") format("opentype"),
		url("../fonts/MuseoSansRegularCyrl-300.woff") format("woff");
   }


@font-face {
    font-family: MuseoSansBlackCyrl;
	src: url("../fonts/MuseoSansBlackCyrl-900.eot");
	src: url("../fonts/MuseoSansBlackCyrl-900.svg") format('svg'),
		url("../fonts/MuseoSansBlackCyrl-900.ttf") format('truetype'),		
		url("../fonts/MuseoSansBlackCyrl-900.otf") format("opentype"),
		url("../fonts/MuseoSansBlackCyrl-900.woff") format("woff");
   }

@font-face {
    font-family: NEOSANSPROBOLD;
	src:url("../fonts/NEOSANSPROBOLD.TTF") format('truetype');		
   }

@font-face {
    font-family: NEOSANSPROREGULAR;
	src:url("../fonts/NEOSANSPROREGULAR.TTF") format('truetype');		
   }
