.title{
    text-align: center;
    border: 1px solid #ccc;
    text-transform: uppercase;
    line-height: 50px;
}

header .title{
    font-size: 20px;
}

.section .title{
    font-size: 18px;
}

div.tabs {

}

div.container { 
margin: auto; 
width: 90%; 
margin-bottom: 10px;
}

ul.tabNavigation {
list-style: none;
margin: 0;
padding: 0;
}

ul.tabNavigation li {
display: inline;
}

ul.tabNavigation li a {
padding: 3px 9px;
background-color: #666;
color: #000;
text-decoration: none;
}

ul.tabNavigation li a.selected,
ul.tabNavigation li a.selected:hover {
background: #FFF;
color: #000;
}

ul.tabNavigation li a:hover {
background: #ccc;
color: #000;
}

ul.tabNavigation li a:focus {
outline: 0;
}

div.tabs div {
padding: 5px;
margin-top: 3px;
border: 1px solid #FFF;
background: #FFF;
}

div.tabs div h2 {
margin-top: 0;
}

.ui-widget-header{
    background: none;
}

.ui-tabs .ui-tabs-nav{
    height: 43px;
}