.title{
    text-align: center;
    border: 1px solid #ccc;
    text-transform: uppercase;
    line-height: 50px;
}
.title b{
    display: block;
}
header .title{
    font-size: 20px;
}

.section .title{
    font-size: 18px;
}

.title.small{
    font-size: 17px;
    border: none;
    text-transform: none;
    margin: 0;
    display: block;
    text-align: center;
}

div.tabs {

}

div.container { 
margin: auto; 
width: 90%; 
margin-bottom: 10px;
}

ul.tabNavigation {
list-style: none;
margin: 0;
padding: 0;
}

ul.tabNavigation li {
display: inline;
}

ul.tabNavigation li a {
padding: 3px 9px;
background-color: #666;
color: #000;
text-decoration: none;
}

ul.tabNavigation li a.selected,
ul.tabNavigation li a.selected:hover {
background: #FFF;
color: #000;
}

ul.tabNavigation li a:hover {
background: #ccc;
color: #000;
}

ul.tabNavigation li a:focus {
outline: 0;
}

div.tabs div {
padding: 5px;
margin-top: 3px;
border: 1px solid #FFF;
background: #FFF;
}

div.tabs div h2 {
margin-top: 0;
}

.ui-widget-header{
    background: none;
}

.ui-tabs .ui-tabs-nav{
    height: 43px;
}

.text-empty {
    border: 1px solid #ddd;
    background: #fff;
    line-height: 45px;
    height: 45px;
    padding-left: 16px;
    font-size: 16px;
    color: #333;
    width: 100%;
    font-family: Tahoma;
}

.authorization{
    float: right;
    max-width: 220px;
    width: 100%;
	position: relative;
	z-index: 50;
}
.authorization li{ padding-bottom: 10px;}

.note,
.error{
    color: #f00;
    text-align: center;
    display: block;
    margin: 5px 0;
}

.disable{ display: none;}


.page-login .authorization{
    float: none;
    margin: 0 auto;
}

.inline{ display: inline-block; }

.table a{
    margin: 0 2px;
    background: none;    
}
.navbar{ margin: 0; }

.block-btn{ margin-top: 15px;}


.message{
    background-color: aquamarine;
    text-align: center;
    display: block;
    line-height: 40px;
    font-size: 20px;
    transition: 1s ease;
}

.entity{ max-width: 600px;}
.entity .text-empty{ margin-bottom: 5px;}
.entity .item-col{ line-height: 45px;}
.entity .item-col:first-child{
    font-weight: bold;
}

.table th{ width: 50px;}
.table .width230 { width: 230px;}
.table .width200 { width: 200px;}
.table .width150 { width: 150px;}
.table .width100 { width: 100px;}

.table td:last-child{ width: 100px;}

.sortorder.reverse span:after {
    content: '\25bc';
}
.sortorder{ cursor: pointer;}
.sortorder span:after {
    content: '\25b2';
}

.block-title{
    line-height: 30px;
    border-bottom: 2px solid #ccc;
    margin-bottom: 15px;
}
.block-title{
    padding-bottom: 5px;
}
.block-title .item-col button{
    float: right;
    margin-top: 5px;
    display: block;
}
.block-title .item-col:last-child{ float: right;}
.block-title .title.small{ line-height: 39px;}
.filter{ 
    width: auto;
}
.table td,
.table th{
    vertical-align: middle!important;
}

.table td:last-child,
.table th{
    text-align: center;
}

.table .text-empty{
    height: 35px;
    line-height: 35px;
}

.btn-add{
    display: none!important;
}