
/*global*/

.clear-padding{padding: 0!important;}
.clear-margin{ margin: 0!important; }
.ul-left li{ float: left; padding: 0; margin: 0;}
.a-none{ text-decoration: none!important;}
.uppercase{ text-transform: uppercase;}
.underline{ text-decoration: underline;}

a.underline{ text-decoration: underline;}
a.underline:hover{ text-decoration: none;}
.pad-bot30{ padding-bottom: 30px!important;}
.margin-right15{ margin-right: -15px;}
.relative{ position: relative;}
ul li{ list-style: none;}
.absolute{ position: absolute;}
html{
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
html *{
 max-height:1000000px;
 outline: none!important;
}
.overfow-hidden{ overflow: hidden;}
div{ margin: 0 auto;}
.ul-form li{ padding-bottom: 10px;}

/*global========*/

.img-center-vertical{
    position: absolute;
    left: 50%;
    top: 50%;
    display: block;
    transform: translate(-50%, -50%);
}

.item-col-clear:first-child{ padding-left: 0;}
.item-col-clear:last-child{ padding-right: 0;}

.content{z-index: 50; position: relative;}

/* Bootstrap modal windwow is center*/
.modal {text-align: center;}

@media screen and (min-width: 768px) { 
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
/* Bootstrap modal windwow is center============*/

input[placeholder]          {text-overflow:ellipsis;}
input::-moz-placeholder     {text-overflow:ellipsis;} 
input:-moz-placeholder      {text-overflow:ellipsis;} 
input:-ms-input-placeholder {text-overflow:ellipsis;}   


.mobile .btn-close, 
.mobile button.mfp-close {    
    right: 5px;
    top: 5px;
}